<main class="flex w-screen items-center justify-center">
  <div class="grid grid-cols-6 gap-4 p-4">
    @if (anime$ | async; as animePagination) {
      @for (anime of animePagination; track anime.mal_id) {
        <div class="p-4 bg-white rounded shadow">
          <img
            [src]="anime.images.jpg.image_url"
            alt="{{ anime.title }}"
            class="w-full h-auto mb-2 rounded"
          />
          <h2>{{ ellipsis(anime.title, 30) }}</h2>
        </div>
      }

      <div id="anchor" appIntersect (intersect)="loadMore()" class="h-10 w-full">
        @if (loading()) {
          <span>Carregando mais animes... ⏳</span>
        }
      </div>
    } @else {
      <div>Buscando animes no servidor... ⏳</div>
    }
  </div>
  <router-outlet></router-outlet>
</main>
